.cloud-container {
  pointer-events: none;
  height: 48px;
  width: 100%;
  background-repeat: no-repeat;
  opacity: 75%;
  position: absolute;
  top: 0;
}
.cloud.one {
  top: -185%;
  left: 0;
  position: absolute;
  display: inherit;
  max-width: 1200px;
  max-height: 984px;
  background-size: cover;
  animation: zoomies 85s infinite linear;
  transition-timing-function: ease-in-out;
  opacity: 70%;
  overflow: visible;
}
.cloud.two {
  top: -190%;
  max-width: 100%;
  max-height: 975px;
  display: inherit;
  position: absolute;
  background-size: cover;
  animation: zoomies 80s infinite linear;
  transition-timing-function: ease-in-out;
  opacity: 75%;
}

.cloud.four {
  top: -25%;
  left: 0%;
  max-width: 100%;
  max-height: 500px;
  display: inherit;
  position: absolute;
  background-size: cover;
  animation: zoomies 90s infinite linear;
  transition-timing-function: ease-in-out;
  opacity: 70%;
}
@keyframes zoomies {
  from {
    left: -100%;
    transform: translateX(-100%);
  }

  to {
    left: 100%;
    transform: translateX(100%);
  }
}
/* !Rain&Lightning CSS */
.rain {
  position: relative;
  display: inherit;
  top: -130%;
  height: calc(100% + 100vh);
  background-image: url(/images/rain-lightning/rain.png);
  animation: rain 2.9s linear infinite;
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
.rain::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80%;
  background-image: url(/images/rain-lightning/lightining.png);
  top: -100px;
  transform: rotate(180deg);
  animation: lightining 5s linear infinite;
  opacity: 1;
}
@keyframes lightining {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
.cloud-container {
  pointer-events: none;
  height: 3px;
  width: 600px;
  background-repeat: no-repeat;
  opacity: 55%;
  }
  
  .rain {
    top: -1800%;
  }
}