@import '/CSS/cloud-rain-light.css';
@import '/CSS/contact-copyright copy.css';
@import '/CSS/projects.css';
@import '/CSS/tech-comp.css';
@import '/CSS/bento-box.css';
@import '/CSS/scroll-anim.css';

/* Full Body */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html,
body {
  background: #080808;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*------------Nav Container----------------*/
.container {
  padding: 10px 5px;
}
.main_logo {
  display: inherit;
  width: 100px;
  height: 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  background: hsl(0 0% 0% / 0.65);
}
@supports (backdrop-filter: blur(1.5rem)) {
  nav ul {
    background: hsl(0 0% 0% / 0.1);
    backdrop-filter: blur(1rem);
  }
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  right: 3%;
  font-family: 'Oxygen Mono', monospace;
}
nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.bento__wrapper {
  display: none;
}
.header-text {
  margin-top: 28%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  font-family: 'Special Elite', cursive;
}
#firstnamecolor {
  display: inline-flex;
  flex-direction: column;
  color: #2b7fdf;
  font-family: 'Special Elite', cursive;
}

/*--------Header Container----------*/
#header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 900px;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(52, 52, 52, 0.8176587529543067) 89%,
      rgba(8, 8, 8, 1) 100%
    ),
    url(/images/bg.png);
  background-size: cover;
  overflow: hidden;
}
#header .wrapper {
  display: inline-flex;
  width: max-content;
  font-weight: 550;
  color: #ffffff;
  overflow: hidden;
  height: 60px;
}
#header .word-wrap li {
  list-style-type: none;
  height: 60px !important;
  font-size: 1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Special Elite', cursive;
}
#header .word-wrap {
  animation: titleflip 8s ease-in-out infinite;
  animation-direction: alternate;
}
@keyframes titleflip {
  0%,
  20% {
    transform: translateY(0%);
  }
  20%,
  40% {
    transform: translateY(-60px);
  }
  40%,
  60% {
    -webkit-transform: translateY(-120px);
  }
  60%,
  80% {
    transform: translateY(-180px);
  }
  80%,
  100% {
    transform: translateY(-240px);
  }
}
#header a span {
  display: none;
}

/*---------About---------*/
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2% 0 6.1% 0;
}
.about-col-1 {
  flex-basis: 34%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}
.about-col-2 {
  flex-basis: 63%;
  overflow-wrap: break-word;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #8db9ea;
  margin-bottom: 15px;
  font-family: 'Merienda One', cursive;
}

.about-me {
  font-size: 1.2rem;
  color: #fffae3;
  line-height: 130%;
  font-family: 'Oxygen Mono', monospace;
}
#about {
  padding: 0 0;
  color: #fffae3;
  text-shadow: 0px 0px 1px whitesmoke;
}

.tab-titles {
  display: flex;
  margin: 23px 0 28px;
}
.tab-links {
  margin-right: 50px;
  font-size: 21.75px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-family: 'Oxygen Mono', monospace;
}
.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #8db9ea;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link:after {
  width: 50%;
}
.tab-contents-title {
  color: #8db9ea;
  font-size: 25px;
  font-family: 'Merienda One', cursive;
}
.tab-contents-date {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Oxygen Mono', monospace;
}
.tab-contents-desc {
  line-height: 145%;
  font-size: 19px;
  font-family: 'Oxygen Mono', monospace;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #8db9ea;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.tab-contents ul {
  font-size: 18px;
  color: #fffafa;
}

/*  -------- All css for small screeens below -----------*/
@media only screen and (max-width: 600px) {
  #header {
    max-height: 780px;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(52, 52, 52, 0.8176587529543067) 89%,
        rgba(8, 8, 8, 1) 100%
      ),
      url(/images/bg.png);
    background-size: cover;
  }
  .main_logo {
    padding: 0 0 0 6%;
  }
  .scroll-down {
    bottom: 05%;
  }
  #header .wrapper {
    display: inline-flex;
    width: max-content;
    font-weight: 550;
    color: #ffffff;
    overflow: hidden;
  }
  .header-text {
    margin: 45% 0 0 5%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 38px;
  }
  .container {
    padding: 3% 0 0 0;
  }
  #sidemenu {
    padding: 3% 0 0 0;
    right: -200px;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: -100px;
    width: 200px;
    height: 100vh;
    padding: min(30vh, 10rem), 2em;
    z-index: 2;
    transition: right 0.2s;
    opacity: 70%;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav .fa-solid {
    display: block;
    font-size: 30px;
    padding: 0 8.5% 0 0;
  }
  nav .fa-xmark {
    margin-left: 25px;
  }
  nav .bento__wrapper {
    z-index: 9999;
    display: block;
    padding: 0 0 0 55%;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 40px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
}
/* end media query */
